.about {
  background-image: url(assets/aboutContent.png);
  min-height: 45vh;
  background-size: cover;

  @media (max-width: 800px) {
    background: rgba(255, 255, 255, 1);
  }
}

.aboutContainer {
  width: 100%;
  padding: 40px 0;

  @media (max-width: 800px) {
    flex-direction: column-reverse;
  }

  @media (max-width: 800px) {
    padding: 20px 0;
  }
}

.aboutContent {
  width: 75%;
  padding-right: 40px;

  h2 {
    padding-bottom: 24px;

    @media (max-width: 800px) {
      padding-top: 20px;
    }

    @media (max-width: 680px) {
      padding-bottom: 5px;
    }
  }

  @media (max-width: 1300px) {
    width: 60%;
  }

  @media (max-width: 850px) {
    width: 100%;
    padding: 5px 20px 20px 0;
  }
}

.profilePic {
  width: 25%;
  position: relative;
  z-index: 0;

  img {
    z-index: 2;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);

    @media (max-width: 800px) {
      box-shadow: none;
    }
  }

  @media (max-width: 1300px) {
    width: 40%;
  }

  @media (max-width: 850px) {
    width: 75%;
  }
}

.aboutContent {
  li {
    font-size: 1.8rem;
    list-style: none;
    color: rgba(96, 92, 206, 1);
    padding: 5px 30px;
  }
}

.boxer {
  display: block;
  border: 3px solid rgba(96, 92, 206, 1);
  position: absolute;
  top: -30px;
  right: -30px;
  left: 30px;
  bottom: 30px;
  z-index: -1;

  @media (max-width: 850px) {
    display: none;
  }
}
