.contact {
    min-height: 70vh;
    background-image: url(assets/contactContent.png);
    background-size: cover;
    background-repeat: no-repeat;

    // move this wrapper into global scope? // 
    .wrapper {
    width: 60%;
    }

    h2 {
    text-align: center;
    padding: 50px 0 20px 0;
    }

    p {
    color: rgba(128, 128, 128, 1);
    text-align: center;
    }

    a {
    color: rgba(128, 128, 128, 1);
    text-decoration: none;

    &:hover {
        color: rgba(96, 92, 206, 1);
    }
    }

    form {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 6%;
    }
}

.formContents {
    border: 2px solid #605CCE;
}

.contact {
    ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0 55px 0;
    margin: 0;
    }

    li {
    list-style: none;
    color: rgba(96, 92, 206, 1);
    padding: 5px 30px;
    }
}

#message {
    width: 100%;
    min-height: 130px;
    padding: 10px;
    border: none;
    background: none;
    resize: none;
    border: 2px solid rgba(96, 92, 206, 1);
}

#name {
    width: 48%;
    border: none;
    background: none;
    padding: 10px;
    border-bottom: 2px solid rgba(96, 92, 206, 1);
    margin: 30px 10px 55px 0;
}

#email {
    width: 48%;
    border: none;
    background: none;
    padding: 10px;
    border-bottom: 2px solid rgba(96, 92, 206, 1);
    margin: 30px 0 55px 10px;
}

.contact button {
    width: 30%;
    text-align: center;
    padding: 10px 20px;
    margin: 30px 0px;
    border: 1.5px solid;
    background: none;
    border: 2px solid rgba(96, 92, 206, 1);
    transition: 0.7s;

    &:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(96, 92, 206, 1);
    border: 2px solid rgba(96, 92, 206, 1);
    }
}

footer p {
    background-color: rgba(243, 244, 249, 1);
    text-align: center;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1300px) {
    .contact .wrapper {
    width: 80%;
    }
}

@media (max-width: 1200px) {
    #name {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    }
}

@media (max-width: 1200px) {
    #email {
    width: 100%;
    margin-left: 0;
    }
}

@media (max-width: 800px) {
    .contact {
    background-image: none;
    }
}

@media (max-width: 525px) {
    .contact button {
    width: 50%;
    }
}

@media (max-width: 525px) {
    .contact li {
    font-size: 1.5rem;
    padding: 3px 20px;
    }
}