header {
    min-height: 70vh;
    background: url(assets/headerSplash.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.headerContent {
        // CHANGE HERE FLEX// 
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0;
}

.logoBoxHeader {
    width: 540px;
    height: 340px;
    position: absolute;
    margin: 0 auto;
}

.logo1 {
    position: absolute;
    color: rgba(0, 0, 0, 1);
    z-index: 3;
}

.logo2 {
    position: absolute;
    color: rgba(96, 92, 206, 1);
    z-index: 2;
    left: 10px;
    top: -10px;
}

.logo3 {
    position: absolute;
    color: rgba(64, 224, 208, 1);
    z-index: 1;
    left: -10px;
    top: 10px;
}

.logoDesc {
    width: 140px;
    position: absolute;
    margin: -10px auto;
}

.topnav {
        // CHANGE HERE FLEX// 
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index: 5;
}

.navbar {
    // CHANGE FLEX HERE // 
    display: flex;
    margin: 1rem 2rem;
    padding: .5rem 0;
}

.brand h2 {
    font-family: 'Londrina Outline', cursive;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.menu {
    justify-content: flex-end;
    margin-left: auto;
}

.menu {
    ul {
    display: flex;
    }

    li {
    list-style: none;
    } 

    a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    float: right;
    text-align: center;
    margin: 12px 15px 9px 15px;
    padding-bottom: 5px;
    transition: 0.3s;
    }

    .contactTab {
    border: 1.5px solid rgba(96, 92, 206, 1);
    padding: 14px 10px;
    margin: 0 5px;
    transition: 0.5s;
    }

    a:hover, a:focus {
    border-bottom: 3.9px solid rgba(96, 92, 206, 1);
    }

    .contactTab:hover, :focus {
    border: 1.5px solid rgba(96, 92, 206, 1);
    background-color: rgba(96, 92, 206, 1);
    color: rgba(255, 255, 255, 1);
    }
}

@media (max-width: 850px) {
    header {
    min-height: 40vh;
    }
}

@media (max-width: 850px) {
    .logoBoxHeader {
    width: 420px;
    height: 280px;
    }
}

@media (max-width: 850px) {
    h1 {
    font-size: 15rem;
    letter-spacing: 9px;
    }
}

@media (max-width: 850px) {
    .logoDesc h4 {
    display: none;
    }
}

@media (max-width: 540px) {
    .headerContent {
    min-height: 70vh;
    }
}

@media (max-width: 850px) {
    .logoBoxHeader {
    width: 310px;
    height: 200px;
    }
}

@media (max-width: 850px) {
    h1 {
    font-size: 10rem;
    letter-spacing: 7px;
    }
}

@media (max-width: 850px) {
    .logo2 {
    left: 6px;
    top: -6px;
    }
}

@media (max-width: 850px) {
    .logo3 {
    left: -6px;
    top: 6px;
    }
}

@media (max-width: 540px) {
    menu li {
        display: none;
    }
}

