html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 70%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 850px) {
  .wrapper {
    width: 75%;
  }
}

@media (max-width: 680px) {
  .wrapper {
    width: 80%;
  }
}

.wrapper2 {
  width: 85%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.flexItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p {
  font-family: "Roboto", sans-serif;
  color: gray;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.6;
  text-align: start;
}

@media (max-width: 800px) {
  p {
    font-size: 0.8rem;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: -6px 6px 0px rgba(240, 181, 213, 0.7), -12px 12px 0px rgba(198, 194, 216, 0.7);
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 0.8px black;
  margin: 0;
}

@media (max-width: 680px) {
  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
  }
}

h3 {
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  text-align: start;
  position: relative;
}

@media (max-width: 680px) {
  h3 {
    text-align: center;
  }
}

h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 2.7rem;
  text-transform: uppercase;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

header {
  min-height: 75vh;
  background: url(assets/headerSplash.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 850px) {
  header {
    min-height: 40vh;
  }
}

.headerContent {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 540px) {
  .headerContent {
    min-height: 85vh;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20rem;
  letter-spacing: 10px;
  margin: 0;
}

@media (max-width: 850px) {
  h1 {
    font-size: 10rem;
    letter-spacing: 7px;
  }
}

.logoBoxHeader {
  width: 630px;
  height: 340px;
  position: absolute;
  margin: 0 auto;
}

@media (max-width: 850px) {
  .logoBoxHeader {
    width: 290px;
    height: 200px;
  }
}

.logo1 {
  position: absolute;
  color: white;
  -webkit-text-stroke: 1.5px black;
  z-index: 3;
}

.logo2 {
  position: absolute;
  color: #605cce;
  z-index: 2;
  left: 8px;
  top: -8px;
}

@media (max-width: 850px) {
  .logo2 {
    left: 4px;
    top: -4px;
  }
}

.logo3 {
  position: absolute;
  color: turquoise;
  z-index: 1;
  left: -10px;
  top: 10px;
}

@media (max-width: 850px) {
  .logo3 {
    left: -6px;
    top: 6px;
  }
}

.logoDesc {
  width: 210px;
  margin-left: 20px;
  position: absolute;
}

@media (max-width: 850px) {
  .logoDesc h4 {
    display: none;
  }
}

.topnav {
  width: 100%;
  background: #f3f4f9;
  position: fixed;
  z-index: 5;
  overflow: hidden;
}

.navbar {
  margin: 0 1rem;
}

.menu {
  margin-left: auto;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }
}

.menu li {
  list-style: none;
}

.menu a {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  float: right;
  text-align: center;
  margin: 16px 15px 0 15px;
  padding-bottom: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .contactTab {
  border: 1.5px solid #605cce;
  padding: 14px 10px;
  margin: 0 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu a:hover,
.menu a:focus {
  border-bottom: 3.9px solid #605cce;
}

.menu .contactTab:hover,
.menu :focus {
  border: 1.5px solid black;
  background-color: #605cce;
  color: white;
}

.about {
  background-image: url(assets/aboutContent.png);
  min-height: 55vh;
  background-size: cover;
}

@media (max-width: 800px) {
  .about {
    background: #f3f4f9;
  }
}

.aboutContainer {
  width: 100%;
  padding: 30px 0;
}

@media (max-width: 1300px) {
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 800px) {
  .aboutContainer {
    padding: 40px 0;
  }
}

.aboutContent {
  width: 72%;
  padding-right: 40px;
}

.aboutContent h2 {
  padding: 40px 0 24px 0;
}

@media (max-width: 1300px) {
  .aboutContent {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .aboutContent {
    padding-right: 0;
  }
}

.profilePic {
  width: 28%;
  padding-top: 55px;
  position: relative;
  z-index: 0;
}

.profilePic img {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

@media (max-width: 1300px) {
  .profilePic {
    width: 100%;
    padding: 0 0 50px 0;
  }
}

@media (max-width: 1300px) {
  .profilePic {
    width: 100%;
    padding: 0 0 30px 0;
  }
}

.picBorder {
  width: 100%;
  height: 100%;
  border: 3px solid #605cce;
  position: absolute;
  left: 30px;
  bottom: -30 px;
}

.aboutContent li {
  font-size: 1.8rem;
  list-style: none;
  color: #605cce;
  padding: 5px 30px;
}

.skills {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 45vh;
  background-image: -webkit-gradient(linear, left top, right top, from(turquoise), to(#967af9));
  background-image: linear-gradient(to right, turquoise, #967af9);
  z-index: 1;
}

.skills::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#967af9), to(turquoise));
  background-image: linear-gradient(to right, #967af9, turquoise);
  z-index: -1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  opacity: 0;
}

.skills:hover::before {
  opacity: 1;
}

.skills h2 {
  text-align: center;
  margin: 37px 0 20px 0;
}

@media (max-width: 900px) {
  .skills h2 {
    margin: 30px 0 17px 0;
  }
}

@media (max-width: 525px) {
  .skills h2 {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .skills {
    min-height: 40vh;
  }
}

@media (max-width: 525px) {
  .skills {
    min-height: 25vh;
  }
}

.iconContainer {
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.iconContainerIcon {
  width: calc(100% / 5);
  padding: 37px 0;
  color: white;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.iconContainerIcon:hover {
  color: black;
}

@media (max-width: 900px) {
  .iconContainerIcon {
    width: calc(100% / 3);
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .iconContainerIcon {
    width: calc(100% / 5);
    padding-top: 4px;
    font-size: 2rem;
  }
}

.iconContainer p {
  width: 100%;
  text-align: center;
  margin: 2px 0;
  color: rgba(0, 0, 0, 0.65);
}

@media (max-width: 525px) {
  .iconContainer p {
    font-size: 0.7rem;
    line-height: 1;
  }
}

.iconContainer .iconContainerIcon {
  font-size: 3.3rem;
  text-align: center;
}

@media (max-width: 900px) {
  .iconContainer .iconContainerIcon {
    padding: 0;
    font-size: 2.3rem;
  }
}

@media (max-width: 525px) {
  .iconContainer .iconContainerIcon {
    padding: 5px 0 18px 0;
    font-size: 1.7rem;
  }
}

.projects {
  background: #f3f4f9;
  min-height: 100vh;
}

.projects h2 {
  text-align: left;
  position: relative;
  padding: 70px 0 25px 95px;
}

@media (max-width: 525px) {
  .projects h2 {
    padding: 40px 0 0 0;
    margin-left: 45px;
  }
}

.projects img {
  padding-top: 40px;
}

.projectContainer {
  padding: 25px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.lastContainer {
  padding: 25px 0 50px 0;
}

.projectImg {
  width: 45%;
}

@media (max-width: 1100px) {
  .projectImg {
    width: 100%;
    padding: 0 0 0 0;
  }
}

.projectDesc {
  width: 55%;
  padding: 0 50px;
  margin-top: 40px;
}

.projectDesc p {
  border-top: 1px solid #333;
  margin-top: 5px;
  padding-top: 5px;
}

.projectDesc .button {
  width: 110px;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 7px 15px;
  margin: 0 5px;
  border: 0.1px solid #333;
  background: rgba(240, 181, 213, 0.7);
  -webkit-box-shadow: 5px 5px 10px -2px gray;
          box-shadow: 5px 5px 10px -2px gray;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projectDesc .button:hover {
  padding: 8px 18px;
  -webkit-box-shadow: 5px 5px 10px -2px turquoise;
          box-shadow: 5px 5px 10px -2px turquoise;
}

@media (max-width: 1100px) {
  .projectDesc {
    width: 100%;
    padding: 0 0 50px 0;
  }
}

@media (max-width: 525px) {
  .projectDesc {
    width: 100%;
    margin-top: 5px;
  }
}

.projectDesc p.topper {
  border-top: none;
}

.codingType {
  font-size: 1.2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: black;
  margin: 10px 0;
}

.topper p {
  border-top: none;
}

.buttonContainer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  margin-top: 16px;
}

@media (max-width: 680px) {
  .buttonContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1100px) {
  .projectContainer:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.bottomBanner {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 45vh;
  background-image: -webkit-gradient(linear, left top, right top, from(turquoise), to(#967af9));
  background-image: linear-gradient(to right, turquoise, #967af9);
  z-index: 1;
}

@media (max-width: 850px) {
  .bottomBanner {
    min-height: 30vh;
  }
}

@media (max-width: 540px) {
  .bottomBanner {
    min-height: 22vh;
  }
}

.bottomBanner::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#967af9), to(turquoise));
  background-image: linear-gradient(to right, #967af9, turquoise);
  z-index: -1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  opacity: 0;
}

.bottomBanner:hover::before {
  opacity: 1;
}

.bottomBanner h2 {
  font-size: 11.5rem;
  letter-spacing: 15px;
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  margin: 0;
}

@media (max-width: 1300px) {
  .bottomBanner h2 {
    font-size: 10rem;
  }
}

@media (max-width: 850px) {
  .bottomBanner h2 {
    font-size: 7rem;
  }
}

@media (max-width: 540px) {
  .bottomBanner h2 {
    font-size: 4.8rem;
  }
}

.logoBoxBottom {
  width: 725px;
  height: 220px;
  position: absolute;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .logoBoxBottom {
    width: 660px;
    height: 220px;
  }
}

@media (max-width: 850px) {
  .logoBoxBottom {
    width: 475px;
    height: 140px;
  }
}

@media (max-width: 540px) {
  .logoBoxBottom {
    width: 355px;
    height: 92px;
  }
}

.logo4 {
  position: absolute;
  color: white;
  z-index: 2;
}

.logo5 {
  position: absolute;
  color: black;
  z-index: 1;
  left: 10px;
  top: -10px;
}

@media (max-width: 850px) {
  .logo5 {
    left: 7px;
    top: -7px;
  }
}

@media (max-width: 540px) {
  .logo5 {
    left: 5px;
    top: -5px;
  }
}

.contact {
  min-height: 50vh;
  background-image: url(assets/contactContent.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .contact {
    background-image: none;
  }
}

.contact .wrapper {
  width: 60%;
}

@media (max-width: 1300px) {
  .contact .wrapper {
    width: 80%;
  }
}

.contact h2 {
  text-align: left;
  padding: 70px 0 55px 0;
  margin-left: 10px;
}

.contact p {
  color: gray;
  text-align: center;
}

.contact a {
  color: gray;
  text-decoration: none;
}

.contact a:hover {
  color: #605cce;
}

.contact ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0 55px 0;
  margin: 0;
}

.contact li {
  list-style: none;
  color: #605cce;
  padding: 5px 30px;
  font-size: 1.8rem;
}

@media (max-width: 525px) {
  .contact li {
    font-size: 1.5rem;
    padding: 3px 20px;
  }
}

.contact button {
  width: 30%;
  text-align: center;
  padding: 10px 20px;
  margin: 30px 0px;
  border: 1.5px solid;
  background: none;
  border: 2px solid #605cce;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.contact button:hover,
.contact button :focus {
  color: white;
  background: #605cce;
  border: 2px solid #605cce;
}

@media (max-width: 525px) {
  .contact button {
    width: 50%;
  }
}

.contact form {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 6%;
}

.formContents {
  border: 2px solid #605cce;
}

#message {
  width: 100%;
  min-height: 130px;
  padding: 10px;
  border: none;
  background: none;
  resize: none;
  border: 2px solid #605cce;
}

#name {
  width: 48%;
  border: none;
  background: none;
  padding: 10px;
  border-bottom: 2px solid #605cce;
  margin: 30px 10px 55px 0;
}

@media (max-width: 1200px) {
  #name {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
  }
}

#email {
  width: 48%;
  border: none;
  background: none;
  padding: 10px;
  border-bottom: 2px solid #605cce;
  margin: 30px 0 55px 10px;
}

@media (max-width: 1200px) {
  #email {
    width: 100%;
    margin-left: 0;
  }
}

footer p {
  background-color: #f3f4f9;
  text-align: center;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
